.btn {
    display: inline-block;
    background-color: $color-accent;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    min-width: 132px;
    padding: 12px 36px;
    border: 1px solid $color-accent;
    transition: all .3s linear;

    &:hover, &:focus {
        background-color: darken($color-accent, 10%);
    }

    &--ghost {
        background-color: transparent;
        color: $color-accent;
        &:hover, &:focus {
            color: #fff;
        }
    }

    &--form {
        min-width: 180px;
        font-weight: 600;
        padding: 16px 36px;
    }
}