.footer {
    color: #848484;
    background-color: #F9F9FB;
    padding-top: 78px;

    &__top {
        padding-bottom: 77px;
        border-bottom: 1px solid #C4C4C4;
    }
    &__row {
        @include media-min(768px) {
            display: grid;
            grid-template-columns: minmax(270px, 500px) repeat(2, minmax(min-content, 270px)) auto;
            column-gap: 15px;
        }
    }
    &__order {
        @include media-min(768px) {
            order: -1;
        }
    }

    &__logo {
        margin-bottom: 26px;
    }

    &__text {
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 55px;
    }

    &__text:last-child {
        margin-bottom: 0;
    }
}

.f-menu {
    &__title {
        font-size: 19px;
        color: #000;
        margin-bottom: 25px;
    }
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-bottom: 35px;
    }

    &__item {
        margin-bottom: 15px;
        a {
            color: #848484;
            display: inline-block;
            text-decoration: none;
            font-size: 18px;
            font-weight: 300;
        }
    }
}

.footer__icons {
    display: grid;
    column-gap: 35px;
    align-items: end;
    padding: 30px 0;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(10px, min-content));
    a {
        display: inline-block;
        &:hover, &:active {
            svg path {
                fill: $color-accent;
            }
        }
    }
}