.section {
    padding: 143px 0;
    &__title {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 36px;
        line-height: 50px;
        color: #000;
    }
    @include media-max(992px) {
        padding: 65px 0;
    }
}