@import "fonts";
@import "vars";
@import "mixins";

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    line-height: 1;
    overflow-x: hidden;
}

body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    overflow-x: hidden;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}

.page-title {
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.25;
    margin-bottom: 74px;
    color: $color-dark;

    @include media-max(992px) {
        font-size: 45px;
        margin-bottom: 40px;
    }
}

@import 'modules/section.scss';
@import 'modules/header.scss';
@import 'modules/logo.scss';
@import 'modules/navigation.scss';
@import 'modules/btn.scss';
@import 'modules/menu.scss';

@import 'modules/hero.scss';
@import 'modules/form.scss';


@import 'modules/action.scss';
@import 'modules/posts.scss';
@import 'modules/view-all.scss';
@import 'modules/reviews.scss';
@import 'modules/star-rating.scss';
@import 'modules/footer.scss';
